optrm/__pycache__/
resourcemanager/__pycache__/
.DS_Store
resourcemanager/migrations/__pycache__/
.vscode/launch.json
resourcemanager/templatetags/__pycache__/
resourcemanager/migrations/
uploads/
knowledge/__pycache__/
knowledge/migrations/__pycache__/
knowledge/migrations/
common/__pycache__/
common/templatetags/__pycache__/
