{% extends "base_generic.html" %}


{% block script %}

  <script type="text/javascript">
  
    function resetPage(){
          $("#id_page").val(1);
    }

    function reInitValue(){
      $('#id_server_group').val('{{ form.server_group.value|default_if_none:"" }}');
      $('#id_biz_system').val('{{ form.biz_system.value|default_if_none:"" }}');
      $('#id_component').val('{{ form.component.value|default_if_none:"" }}');
      $('#id_query').val('{{ form.query.value|default_if_none:"" }}');
    }

    $(function(){
      $("#page-zize").change(function(){
          var pagezie = $( this ).val();
          $("#id_page_size").val(pagezie);
          $("#id_page").val(1);
          reInitValue();
          $('#query-from').submit();
      });

      $('#id_server_group').change(resetPage);
      $('#id_biz_system').change(resetPage);
      $('#id_component').change(resetPage);
      $('#id_query').change(resetPage);
      
    });

    function goto_page(page){
      $("#id_page").val(page);
      reInitValue();
      $('#query-from').submit();
    }
  </script> 


{% endblock %}

{% block content %}
  <nav class="navbar navbar-light bg-light w-100">
    <a class="navbar-brand"></a>
    <form id="query-from" class="form-inline" method="post" action="{% url 'user-servers' %}">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
      <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'user-servers-download'%}" role="button">下载</a>
    </form>
  </nav>

    {% if server_list %}

    <table class="table mr-2" style="font-size: 14px;">
      <thead>
        <tr style="background-color: #808080;">
          <th scope="col">名称</th>
          <th scope="col">IP地址</th>
          <th scope="col">CPU/内存</th>
          <th scope="col">系统/业务盘</th>
          <th scope="col">操作系统</th>
          <th scope="col">服务器分组</th>
          <th scope="col">业务系统</th>
          <th scope="col">远程IP</th>
          <th scope="col">远程端口</th>
          <th scope="col">对应端口</th>
          <th scope="col" style="width: 200px;">备注</th>
        </tr>
      </thead>
      <tbody>
      {% for server in server_list %}
          {%if forloop.counter|divisibleby:"2" %}
        <tr  style="background-color: #e0eaf6;">
          {% else %}
        <tr>
          {% endif %}
          <td><a href="{{ server.get_absolute_url }}"> {{ server.name }} </a>
          </td>
          <td>{{ server.ip_address|default_if_none:"" }}</td>
          <td>{{ server.cpu_cores_text }}/{{ server.memory_size_text }}</td>
          <td>{{ server.disc_sys_size_text }}/{{ server.disc_biz_size_text|default_if_none:"-" }}</td>
          <td>{{ server.operating_system|default_if_none:"-" }}</td>
          <td>{{ server.groups_list|default:"-" }}</td>
          <td>{{ server.biz_system_list|default:"-" }}</td>
          <td>{{ server.remote_connect_ip|default_if_none:"-" }}</td>
          <td>{{ server.remote_connect_port|default_if_none:"-" }}</td>
          <td>{{ server.remote_connect_origin_port|default_if_none:"-" }}</td>
          <td class="text-truncate">
            <span class="d-inline-block text-truncate"  data-toggle="tooltip" data-html="true" style="width: 200px;" title="{{ server.summary|default_if_none:"-" }}">
            {{ server.summary|default_if_none:"-" }}
            </span>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <ul>



    </ul>
    {% else %}
      <p>没有找到服务器.</p>
    {% endif %} 
{% endblock %}