{% load generalfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>OPT RM</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block script %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block stylesheet %}{% endblock %}
</head>
<body>




<div class="container-fluid">

  {% block sidebar %}
  <div class="clearfix shadow-sm p-1 mb-2   ">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'user-servers'%}">我的服务器</a>
      </li>
    </ul>

    <ul class="nav float-right pr-3">
    {% if user.is_authenticated %}
      <li class="nav-item  mr-4">你好{{ user.get_username }}!</li>
      <li class="nav-item"><a href="{% url 'logout'%}?next={{request.path}}">退出</a><i class="bi bi-box-arrow-in-up" aria-hidden="true"></i></li>   
    {% else %}
      <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}">登录</a></li>   
    {% endif %} 
    </ul>
  </div>
  {% endblock %}

  <div class="row  w-100 ml-2">

  {% block content %}{% endblock %}
  
  {% block pagination %}
    {% if is_paginated %}
      <form class="form-inline">
        
        <label for="page-zize">{{ form.page_size.value }}每页显示:</label>
        <select class="form-control" id="page-zize" name="page-zize">
            <option value="5" {% if form.page_size.value == "5" %} selected {% endif %}  >5</option>
            <option value="10" {% if form.page_size.value == "10" %} selected {% endif %}>10</option>
            <option value="15" {% if form.page_size.value == "15" %} selected {% endif %}>15</option>
            <option value="20" {% if form.page_size.value == "20" %} selected {% endif %}>20</option>
            <option value="30" {% if form.page_size.value == "30" %} selected {% endif %}>30</option>
            <option value="50" {% if form.page_size.value == "50" %} selected {% endif %}>50</option>
            <option value="100" {% if form.page_size.value == "100" %} selected {% endif %}>100</option>
        </select>
        <span style="margin-right: 5px;">条</span>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center" style="margin: 0px;">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="javascript:goto_page({{ page_obj.previous_page_number }})">上一页</a></li>
                {% else %}
                   <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                {% endif %}
                {% for  i in  page_obj.paginator.num_pages|get_range %}
                  {% if i|add:1  == page_obj.number %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i|add:1 }}</span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="javascript:goto_page({{ i|add:1 }})">{{ i|add:1 }}</a></li>
                  {% endif %}
                  
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="javascript:goto_page({{ page_obj.next_page_number }})">下一页</a></li>
                {% else %}
                   <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                {% endif %}
          </ul>
        </nav>
      </from>

            

    {% endif %}
  {% endblock %} 
  
  
  </div>
</div>
</body>
</html>
